/* Add CSS Styling */

.odd {
    background-color: #FCBBCC;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.adjust-font {
    font-size: 24px;
}

#two {
    font-size: 36px;
    color: #0033FF;
}

#four {
    background-color: #00FF6A;
    font-weight: bold;
}